<!DOCTYPE html>
<html>

{{> head}}

<body>

{{> header}}

<h1>Archives</h1>

{{#archives}}
{{#months}}

<h2>{{month}} {{year}}</h2>

<p>
{{#entries}}
<a href="{{url}}">{{title}}</a><br />
{{/entries}}
</p>

{{/months}}
{{/archives}}

{{> footer}}

</body>

</html>
