<!DOCTYPE html>
<html>

{{> head}}

<body>

{{> header}}

{{#entries}}

<p>{{date}}<br /><a href="{{url}}">{{title}}</a></p>

{{/entries}}

<p>Read more in <a href="https://semioticrobotic.info/archives" title="semioticrobotic.info archives">the archives</a>.

{{> footer}}

</body>
</html>
