<!DOCTYPE html>

<html>

{{> head}}

<body>

{{> header}}
{{#entry}}

<h1>{{title}}</h1>

<p>{{{body}}}</p>

<p><a href="{{url}}">#</a> {{date}}</p>

{{> pluginHTML}}

{{/entry}}

{{> footer}}

</body>
</html>
