<div class="footer">

<script src="{{{scriptURL}}}" type="text/javascript"></script>

<p>

© <a href="https://semioticrobotic.net">Bryan Behrenshausen</a> (<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode">CC BY-NC-SA</a>)<br />

<a href="https://semioticrobotic.info" title="semioticrobotic.info">.info</a> | 
<a href="https://semioticrobotic.net" title="semioticrobotic.net">.net</a>
<a href="https://semioticrobotic.email" title="semioticrobotic.email">.email</a>

</p>
</div>
