<head>
<link rel="alternate" type="application/rss+xml" title="RSS Feed for {{title}}" href="{{{feedURL}}}">
<link rel="stylesheet" href="https://semioticrobotic.net/semioticrobotic.css">
<title>{{> title}}</title>
<meta name="description" content="Bryan G. Behrenshausen's public notebook">
<meta name="keywords" content="bryan behrenshausen">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
