<!DOCTYPE html>
<html>
{{> head}}

<body>

{{> header}}

<br />
<form>
<input placeholder="Search semioticrobotic.info" value="{{#query}}{{query}}{{/query}}" name="q" id="search" type="text" /><br /><br /><input type="submit" value="Search"/>
</form>

<br />

{{#query}}
{{^entries}}

<p>Sorry, no results for “{{query}}”</p>

{{/entries}}
{{/query}}

{{#entries}}
<p><a href="{{url}}">{{title}}</a> ({{date}})<br /></p>
{{/entries}}

{{> footer}}

</body>
</html>
