<!DOCTYPE html>
<html>

{{> head}}

<body>

{{> header}}

<h2>Posts tagged “{{tag}}”</h2>

{{#entries}}

<a href="{{url}}">{{title}}</a> ({{date}}) <br />

{{/entries}}

{{> footer}}

</body>
</html>
